# Welcome to Jupyter!

In [1]:
def f(x):
    return x**2
f(8)
g = lambda x: x**2
g(8)

64

This repo contains an introduction to [Jupyter](https://jupyter.org) and [IPython](https://ipython.org).

Outline of some basics:

* [Notebook Basics](../examples/Notebook/Notebook%20Basics.ipynb)
* [IPython - beyond plain python](../examples/IPython%20Kernel/Beyond%20Plain%20Python.ipynb)
* [Markdown Cells](../examples/Notebook/Working%20With%20Markdown%20Cells.ipynb)
* [Rich Display System](../examples/IPython%20Kernel/Rich%20Output.ipynb)
* [Custom Display logic](../examples/IPython%20Kernel/Custom%20Display%20Logic.ipynb)
* [Running a Secure Public Notebook Server](../examples/Notebook/Running%20the%20Notebook%20Server.ipynb#Securing-the-notebook-server)
* [How Jupyter works](../examples/Notebook/Multiple%20Languages%2C%20Frontends.ipynb) to run code in different languages.

In [2]:
def even(x):
    if x % 2 == 0:
        return True
    else:
        return False
    
    list(filter(even, range(0, 30)))

You can also get this tutorial and run it on your laptop:

    git clone https://github.com/ipython/ipython-in-depth

Install IPython and Jupyter:

with [conda](https://www.anaconda.com/download):

    conda install ipython jupyter

with pip:

    # first, always upgrade pip!
    pip install --upgrade pip
    pip install --upgrade ipython jupyter

Start the notebook in the tutorial directory:

    cd ipython-in-depth
    jupyter notebook

In [3]:
def square(x)
return x**2

list(map(square, range(0, 11)))

SyntaxError: invalid syntax (<ipython-input-3-f5ea655da119>, line 1)

In [4]:
def expo(x, y):
    return x**y

list (map(expo, range(0,5), range(0,5)))

[1, 1, 4, 27, 256]

In [5]:
import functools

def fact(x, y):
    return x*y

print(functools.reduce(fact, range(1,5)))

24

In [6]:
list(map(lambda x: x**2, range(0,11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#mylist1 = []
#mylist2 = [expression1, expression2, ...]
#mylist3 = [expression for variable in sequence]

mylist2 = [0,1,4,9,16]
mylist3 = [i for i*i in range (5)]

SyntaxError: can't assign to operator (<ipython-input-7-098971896e50>, line 6)

In [8]:
mylist1 = list()
mylist2 = list(sequence)
mylist3 = list(expression for variable in sequence)

NameError: name 'sequence' is not defined

In [9]:
#mylist1 and mylist2 point to the same list
mylist1 = mylist2 = []

#mylist3 and mylist4 point to the same list
mylist3 = []
mylist4 = mylist3

mylist5 = []; mylist6 = [] #different list

In [10]:
mylist = [34,67,45,29]
mylist[2]

45

In [11]:
mylist = [34,67,45,29]
mylist.index(67)

1

In [13]:
mylist[start:end] #items start to end -1
mylist[start:] #items start to end of the array
mylist[:end] #items from the beginning to end -1
mylist[:] #a copy of the whole array

mylist[start:end:step] #start to end-1 by step

NameError: name 'start' is not defined

In [14]:
mylist[-1] #last item in the array
mylist[-2:] #last 2 items in the array
mylist[:-2] #everything except the last two items

[34, 67]

In [15]:
mylist = [34, 56, 29, 73, 19, 62]
mylist[-2]
mylist[-4::2]

[29, 19]

In [17]:
mylist.append(42)
mylist

[34, 56, 29, 73, 19, 62, 47, 42]

In [18]:
mylist = [34, 56, 29, 73, 19, 62]
mylist.extend([47, 81])
mylist

[34, 56, 29, 73, 19, 62, 47, 81]

In [19]:
mylist = [34, 56, 29, 73, 19, 62]
mylist.remove(29)
mylist

[34, 56, 73, 19, 62]

In [20]:
stack = [34, 56, 29, 73, 19, 62]
stack.append(47)
stack

[34, 56, 29, 73, 19, 62, 47]

In [21]:
stack.pop()

47

In [22]:
from collections import deque
queue = deque([35, 19, 67])
queue.append(42)
queue.append(23)
queue.popleft()

35

In [23]:
queue.popleft()

19

In [24]:
queue

deque([67, 42, 23])

In [25]:
mylist = ['a', 'b', 'c', 'd', 'a', 'f', 'c']
mylist.count('a')

2

In [26]:
mylist = [5, 2, 3, 4, 1]
mylist.sort()
mylist

[1, 2, 3, 4, 5]

In [27]:
mylist.reverse()

In [28]:
mylist

[5, 4, 3, 2, 1]

In [35]:
mylist = ['b', 'A', 'D', 'c']
mylist.sort(key = str.lower)
mylist

['A', 'b', 'c', 'D']

In [36]:
mylist = ['b', 'A', 'D', 'c']
mylist.sort(key = str.lower, reverse = True)
mylist

['D', 'c', 'b', 'A']

In [37]:
myset = set()
myset2 = set([]) #both are empty sets

In [38]:
myset = set(sequence)
myset2 = set{expression for variable in sequence}

SyntaxError: invalid syntax (<ipython-input-38-290f5dd3c502>, line 2)

In [45]:
myset = {x for x in 'abracadabra'}
myset

{'a', 'b', 'c', 'd', 'r'}

In [46]:
myset.add('y')

In [47]:
myset

{'a', 'b', 'c', 'd', 'r', 'y'}

In [48]:
myset.remove('a')

In [49]:
myset

{'b', 'c', 'd', 'r', 'y'}

In [50]:
myset.pop()

'r'

In [51]:
myset

{'b', 'c', 'd', 'y'}

In [52]:
s1 = set('abracadabra')

In [53]:
s2 = set('alacazam')

In [54]:
s1

{'a', 'b', 'c', 'd', 'r'}

In [55]:
s2

{'a', 'c', 'l', 'm', 'z'}

In [56]:
s1 |= s2

In [57]:
s1

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [58]:
s1 = set('abracadabra')

In [59]:
s1 &= s2

In [60]:
s1

{'a', 'c'}

In [61]:
s1 = set('abracadabra')

In [62]:
s2 = set('bard')

In [63]:
s1 >= s2

True

In [64]:
s1 > s2

True

In [65]:
s1 <= s2

False

In [66]:
s1 = set('abracadabra')

In [67]:
s1

{'a', 'b', 'c', 'd', 'r'}

In [68]:
s2 = set('alacazam')

In [69]:
s2

{'a', 'c', 'l', 'm', 'z'}

In [70]:
s1 | s2

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [71]:
s1 & s2

{'a', 'c'}

In [72]:
s1 - s2

{'b', 'd', 'r'}

In [73]:
s1 ^ s2

{'b', 'd', 'l', 'm', 'r', 'z'}

In [74]:
t1 = (1, 2, 3, 4)

In [75]:
t2 = "a", "b", "c", "d"

In [76]:
t3 = ()

In [77]:
t4 = ("red", )

In [78]:
s = "Susan", 19, "CS" #tuple packing

In [79]:
name, age, major = s #tuple unpacking

In [80]:
name

'Susan'

In [81]:
age

19

In [82]:
major

'CS'

In [83]:
d1 = {}

In [84]:
d2 = dict()

In [85]:
d3 = {"Name": "Susan", "Age": 19, "Major": "CS"}

In [86]:
d4 = dict(Name="Susan", Age="19", Major="CS")

In [87]:
d5 = dict(zip(['Name', 'Age', 'Major'], ["Susan", 19, "CS"]))

In [88]:
d6 = dict([('Age', 19), ('Name', "Susan"), ('Major', "CS")])

In [89]:
d1 = {'Age':19, 'Name':"Susan", 'Major':"CS"}

In [90]:
d1['Age']

19

In [91]:
d1['Name']

'Susan'

In [92]:
d1 = {'Age':19, 'Name':"Susan", 'Major':"CS"}

In [93]:
d1['Age'] = 21

In [94]:
d1['Year'] = "Junior"

In [95]:
d1

{'Age': 21, 'Name': 'Susan', 'Major': 'CS', 'Year': 'Junior'}

In [96]:
del d1['Major']

In [97]:
d1

{'Age': 21, 'Name': 'Susan', 'Year': 'Junior'}

In [98]:
d1.clear()

In [99]:
d1

{}

In [100]:
d1 = {'Age':19, 'Name':"Susan", 'Major':"CS"}

In [101]:
d1.has_key('Age') #True if key exists

AttributeError: 'dict' object has no attribute 'has_key'

In [102]:
d1.has_key('Year')

AttributeError: 'dict' object has no attribute 'has_key'

In [104]:
d1.keys()

dict_keys(['Age', 'Name', 'Major'])

In [105]:
d1.items()

dict_items([('Age', 19), ('Name', 'Susan'), ('Major', 'CS')])

In [107]:
d1.values()

dict_values([19, 'Susan', 'CS'])

In [108]:
OrderedDict.popitem(last=True)

NameError: name 'OrderedDict' is not defined

In [109]:
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

In [110]:
from collections import OrderedDict

In [111]:
OrderedDict(sorted(d.items(), key=lambda t: t[0]))

OrderedDict([('apple', 4), ('banana', 3), ('orange', 2), ('pear', 1)])

In [112]:
OrderedDict(sorted(d.items(), key=lambda t: t[1]))

OrderedDict([('pear', 1), ('orange', 2), ('banana', 3), ('apple', 4)])

In [113]:
OrderedDict(sorted(d.items(), key=lambda t: len(t[0])))

OrderedDict([('pear', 1), ('apple', 4), ('banana', 3), ('orange', 2)])