In [1]:
print("Hello Python 101")

Hello Python 101

In [2]:
frint("Hello Python")

NameError: name 'frint' is not defined

In [3]:
print("Hello python 102")

Hello python 102

In [4]:
type(11)

int

In [5]:
type(21.3201)

float

In [6]:
type("Hello python 101")

str

In [7]:
# typecasting int to float
float(2)

2.0

In [8]:
# typecasting float to int
# careful with the loss of precision
int(1.1)

1

In [9]:
# typecasting str to int
int('1')

1

In [10]:
int('A')

ValueError: invalid literal for int() with base 10: 'A'

In [11]:
True

True

In [12]:
type(True)

bool

In [13]:
type(False)

bool

In [14]:
int(True)

1

In [15]:
int(False)

0

In [16]:
# addition operation
43 + 23 + 17 + 50

133

In [17]:
# subtraction operation
20 - 50

-30

In [18]:
# multiplication operation
5 * 7

35

In [19]:
# division operation, the result is always float
25 / 5

5.0

In [20]:
25 / 6

4.166666666666667

In [21]:
# integer division operation, the result is always integer
25 // 5

5

In [22]:
25 // 6

4

In [23]:
# Here, 12 * 5 first (60) then added with 2
12 * 5 + 4

64

In [24]:
# Here, 12 * 5 first (despite positioned on the right)
# then added by 4
4 + 12 * 5

64

In [25]:
# Here, 4 + 12 (first due to parentheses)
# then multiplied by 5
(4 + 12) * 5

80

In [26]:
my_var = 1 # now my_var stores 1

In [27]:
# use value stared at my_var in an expression
my_var + 12

13

In [28]:
# we now assign a new different value to my_var
my_var = 8

In [29]:
# the same expression now returns a different value
my_var + 12

20

In [30]:
# we assign a value computed using the above value to variable y
y = (my_var + 12) / 7

In [31]:
y

2.857142857142857

In [32]:
# assign a new value to my var using its old value
my_var = my_var * 3

In [33]:
my_var

24

In [34]:
type(my_var)

int

In [35]:
y

2.857142857142857

In [36]:
type(y)

float

In [37]:
video1_duration_min = 42
video2_duration_min = 57
video3_duration_min = 43

In [38]:
total_min = video1_duration_min + video2_duration_min + video3_duration_min
total_min

142

In [39]:
total_hr = total_min/60
total_hr

2.3666666666666667